<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	<typeAliases>
		<typeAlias alias="restaurant" type="rewards.internal.restaurant.Restaurant" />
		<typeAlias alias="account" type="rewards.internal.account.Account" />
		<typeAlias alias="beneficiary" type="rewards.internal.account.Beneficiary" />
	</typeAliases>
	<typeHandlers>
		<typeHandler handler="rewards.internal.restaurant.BenefitAvailabilityPolicyTypeHandler"
							 javaType="rewards.internal.restaurant.BenefitAvailabilityPolicy" />
							 
		<typeHandler handler="rewards.internal.MonetaryAmountTypeHandler"
							 javaType="common.money.MonetaryAmount" />

		<typeHandler handler="rewards.internal.PercentageTypeHandler"
							 javaType="common.money.Percentage" />
	</typeHandlers>	

</configuration>
