<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
	     version="2.4">

	<context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/rewardNetwork-webapp-config.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

 	<!-- TODO 2: Create new servlet named 'rewards' of type 'org.springframework.ws.transport.http.MessageDispatcherServlet' -->

    <servlet-mapping>
        <servlet-name>rewards</servlet-name>
        <url-pattern>/rewards/*</url-pattern>
    </servlet-mapping>

    <mime-mapping>
        <extension>wsdl</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>xsd</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>

</web-app>